allow hal_wifi_default rootfs:file { getattr open read };
allow hal_wifi_default rootfs:system module_load;
allow hal_wifi_default wifi_data_file:file r_file_perms;
