on boot
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
    chown bluetooth bluetooth /sys/module/hci_uart/parameters/ath_lpm
    chown bluetooth bluetooth /sys/module/hci_uart/parameters/ath_btwrite
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/device/extldo
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown bluetooth net_bt /dev/ttyHS0
    chown bluetooth bluetooth /dev/ttyHS2

    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/module/hci_uart/parameters/ath_lpm
    chmod 0660 /sys/module/hci_uart/parameters/ath_btwrite
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo
    chmod 0660 /proc/bluetooth/sleep/proto
    chmod 0660 /dev/ttyHS0
    chmod 0660 /dev/ttyHS2

on post-fs-data
    mkdir /persist/bluetooth 0770 bluetooth bluetooth
    mkdir /data/vendor/bluetooth 0770 bluetooth bluetooth
    mkdir /data/vendor/ramdump 0771 root system
    mkdir /data/vendor/ramdump/bluetooth 0770 bluetooth bluetooth
