# Force host-visible adb via stock android_usb gadget.
service fujisan-usb /system/bin/fujisan_usb.sh
    class core
    user root
    group root system shell
    oneshot
    disabled

on post-fs
    mkdir /dev/usb-ffs 0775 shell system
    mkdir /dev/usb-ffs/adb 0770 shell system
    setprop persist.sys.usb.config adb
    setprop sys.usb.configfs 0
    setprop sys.usb.config adb
    start fujisan-usb

on boot
    setprop persist.sys.usb.config adb
    setprop sys.usb.config adb
    start fujisan-usb

on property:sys.usb.config=adb
    start fujisan-usb
