# The standard android.hardware.usb service owns all gadget functions.  This
# device fragment only provides the msm8996 configfs/controller prerequisites.

on early-init
    setprop sys.usb.configfs 1

on init
    chmod 0771 /dev/usb-ffs
    mount configfs none /config
    mkdir /config/usb_gadget/g1
    setprop sys.usb.configfs 1

on post-fs
    setprop sys.usb.configfs 1

on boot
    setprop sys.usb.configfs 1
    setprop sys.usb.controller 6a00000.dwc3

# A configfs "none" transition lets DWC3 runtime-suspend on msm8996.  Wake
# the controller before the generic configfs actions bind a gadget UDC.
on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral

on property:sys.usb.config=ptp && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral

on property:sys.usb.config=ptp,adb && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral

on property:sys.usb.config=midi && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral

on property:sys.usb.config=midi,adb && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral

on property:sys.usb.config=rndis && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral

on property:sys.usb.config=rndis,none && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral

on property:sys.usb.config=rndis,none,adb && property:sys.usb.configfs=1
    write /sys/devices/soc/6a00000.ssusb/mode peripheral
