# The real bpfloader declares reboot_on_failure, which is unsuitable for the
# incomplete eBPF ABI in the 3.18 kernel.
service bpfloader /system/bin/bpfloader
    class core
    user root
    group root system
    oneshot

on early-init
    setprop bpf.progs_loaded 1
