<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zte.fujisan.primarypanel">
    <!-- Supply canonical application-level metadata for SystemUI's custom
         Tile edit repository. -->
    <application
        android:icon="@drawable/ic_primary_panel"
        android:label="@string/app_name">
        <service
            android:name=".PrimaryPanelTileService"
            android:exported="true"
            android:icon="@drawable/ic_primary_panel"
            android:label="@string/tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
