<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zte.duallcd">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".DualLcdApplication"
        android:persistent="true"
        android:directBootAware="true">
        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
