<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.fujisan.overlay.freeform"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:hasCode="false" />
    <overlay
        android:targetPackage="android"
        android:priority="11"
        android:isStatic="true" />
</manifest>
