service vendor.livedisplay-fujisan-hal-2-0 /vendor/bin/hw/vendor.lineage.livedisplay@2.0-service.fujisan
    interface vendor.lineage.livedisplay@2.0::IColorBalance default
    class hal
    user system
    group system
